@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">

                        <#table id="ContractLookTable"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    laydate.render({
        elem: '#startTime'
    });
    laydate.render({
        elem: '#endTime'
    });
    var contractOptypenum = '${optypenum!}';
    var contractRecyear = '${recyear!}';
    var contractRecnum = '${recnum!}';
</script>

<script src="${ctxPath}/static/modular/contract/contractLookAndPrint.js"></script>
@}
