@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>楼盘表</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-sm-3">
                                <#NameCon id="condition" name="综合条件" />
                            </div>
                            <div class="col-sm-9">
                                <#button name="查询" icon="fa-search" clickFun="houseTable.query()"/>
                                <#button btnCss="danger" name="关闭页面" icon="fa-eraser" clickFun="houseTable.close()"/>
                            </div>
                        </div>

                        <#table id="houseTable"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="${ctxPath}/static/modular/project/project.js"></script>
<script src="${ctxPath}/static/modular/project/chooseHouseTable.js"></script>

<script>
    //项目ID
    var projectId = '${projectId!}';
    //地区
    var regionList = '${regionList!}';
    regionList = JSON.parse(regionList);
</script>

@}
