<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.support.dao.PieMapper">

    <update id="savePie" parameterType="com.stylefeng.guns.modular.support.model.sbjbxx_yuVo">
        UPDATE rwrecinfo
        set
        CURRECLOCKUSERNUM = #{gxjxmmc}
        WHERE OpTypeNum = #{optypenum} and RecYear=#{recyear} and RecNum=#{recnum}
    </update>

</mapper>