@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>保障房项目</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                            查询类型
                                        </button>
                                    </div>
                                    <select class="form-control" id="business_first" onchange="houseProject.initSecondType(this.value)">
                                        <option value="">综合业务查询</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <#NameCon id="registerNum" name="登记编号" />
                            </div>

                            <div class="col-sm-4">
                                <#NameCon id="application" name="申请人" />
                            </div>

                            <div class="col-sm-2" style="height: 39px;">
                            </div>

                            <div class="col-sm-2" style="height: 39px;">
                            </div>

                            <div class="col-sm-4">
                                <#NameCon id="idCard" name="身份证号" />
                            </div>
                            <div class="col-sm-4">
                                <#NameCon id="archivesNum" name="档案号" />
                            </div>
                            <div class="col-sm-2" style="height: 39px;">
                            </div>
                            <div class="col-sm-2" style="height: 39px;">
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group" style="padding-top:10px">
                                    <label><input name="precise_query" id="precise_query" type="checkbox" value="1" />精准查询</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="input-group" style="padding-top:10px">
                                    <label><input name="owner_handle" id="owner_handle" type="checkbox" value="1" />本人经办</label>
                                </div>
                            </div>
                            <div class="col-sm-12" style="text-align: center;">
                                <#button name="查询" icon="fa-search" clickFun="queryProject.query()"/>
                                <!--<#button name="导出" icon="fa-plus" clickFun="exportProject()"/>-->
                            </div>
                            <form action="/excel/import_excel" method="post" id="import_excel" enctype="multipart/form-data">
                                <div class="col-sm-2">
                                    <input type="file" id="excelExport" name="excelExport" accept=".csv, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                                    <input type="hidden" id="numInput" name="num">
                                </div>
                                <div class="col-sm-3">
                                    <#button name="导入" icon="" clickFun="projecManage.exportExc('1')"/>
                                    <#button name="检查" icon="fa-search" clickFun="projecManage.exportExc('2')"/>
                                </div>
                            </form>
                        </div>
                        <#table id="queryProjectTable"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/project/project.js"></script>
<script src="${ctxPath}/static/modular/query/query.js"></script>
@}
