@layout("/common/_container.html"){
<div class="col-sm-12" style="margin-bottom: 20px;">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
        <#NameCon id="chooseName" name="姓名" />
    </div>
    <div class="col-sm-3">
        <#button name="查询" icon="fa-search" clickFun="nameQuery()"/>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12" id="contentDiv">
                        @for(recipients in userList){
                        <div class="col-sm-2">
                            <input type="radio" name="regional" style="margin-left:10px;" value="${recipients.ID!}">${recipients.NAME!}
                        </div>
                        @}
                    </div>
                </div>
            </div>
        </div>
        <#button name="派件" icon="fa-search" clickFun="pie()"/>
        <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="houseProject.close()"/>
    </div>
</div>

<script src="${ctxPath}/static/modular/supporthouse/house_project.js"></script>
<script src="${ctxPath}/static/modular/supporthouse/pie.js"></script>
@}
