@layout("/common/_container.html"){
<style type="text/css">
    .dataTable{
        width: 100%
    }
    .dataTable thead{
        background: #ebf0f6;
    }
    .dataTable thead th{
        padding: 10px 0;
        text-align:center;
    }
    .dataTable tbody td{
        padding: 8px 0;
        text-align:center;
        word-break:break-all;
        white-space : normal;
    }
    table,table tr th, table tr td {
        border:1px solid #bababa;
    }

    .m-t-30{
        margin-top:30px;
    }
    .d-title{
        width: 100%;height: 30px;padding-left: 30px;background: #eee;line-height:30px;font-weight: bold;margin-bottom:20px;
    }
</style>

<div class="panel blank-panel">
    <div class="panel-heading">
        <div class="panel-options">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#tab-1">受理</a>

                </li>
                <li>
                    <a data-toggle="tab" href="#tab-2">材料</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-3">办理意见</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <div class="tab-content">
            <div id="tab-1" class="tab-pane active">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">

                        <form action="#" method="post" class="form-horizontal" id="projectInfoForm">

                            <input type="hidden" name="OpTypeNum" id="OpTypeNum" value='${apply.OPTYPENUM!}'>
                            <input type="hidden" name="RecYear" id="RecYear" value='${apply.RECYEAR!}'>
                            <input type="hidden" name="RecNum" id="RecNum" value='${apply.RECNUM!}'>

                            <div class="row">
                                <div class="d-title">
                                    档案总目
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">盒 号</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="BOXNUM" name="BOXNUM" type="text" value="">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">档案号</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="ArchNum" name="ArchNum" type="text" value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row btn-group-m-t">
                                    <div class="col-sm-10" style="text-align: center">
                                        <#button btnCss="info" name="保存" id="saveArchivesCatalogue" icon="fa-check" clickFun="ProjectInfoDlg.saveArchivesCatalogue()"/>
                                    </div>
                                </div>

                                <div class="d-title">
                                    申请家庭情况调查表
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">姓名</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="applicantName" name="applicantName" type="text" value="${apply.applicantName!}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">性别</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="applicantSex" name="applicantSex" type="text" value="${apply.applicantSex!}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">证件类型</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="OWNERCERTTYPECODE" name="OWNERCERTTYPECODE">
                                                @for(node in idCardList){
                                                <option value="${node.code!}">${node.value!}</option>
                                                @}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">证件号码</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="applicantCard" name="applicantCard" type="text" value="${apply.applicantCard!}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">联系电话</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="applicantPhone" name="applicantPhone" type="text" value="${apply.applicantPhone!}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">配偶姓名</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="OWNERNAME_PEIOU" name="OWNERNAME_PEIOU" type="text" value="${apply.OWNERNAME_PEIOU!}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">配偶性别</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="OWNERSEXCODE_PEIOU" name="OWNERSEXCODE_PEIOU" type="text" value="${apply.OWNERSEXCODE_PEIOU!}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">配偶证件类型</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" id="OWNERCERTTYPECODE_PEIOU" name="OWNERCERTTYPECODE_PEIOU">
                                                @for(node in idCardList){
                                                <option value="${node.code!}">${node.value!}</option>
                                                @}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-6 form-group">
                                        <label class="col-sm-3 control-label">配偶证件号码</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="OWNERCERTNUM_PEIOU" name="OWNERCERTNUM_PEIOU" type="text" value="${apply.OWNERCERTNUM_PEIOU!}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row btn-group-m-t">
                                    <div class="col-sm-10" style="text-align: center">
                                        <#button btnCss="info" name="保存" id="saveFamilySurvey" icon="fa-check" clickFun="ProjectInfoDlg.saveFamilySurvey()"/>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

            <div id="tab-2" class="tab-pane">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="row row-lg">
                                    <div class="col-sm-12">
                                        <button class="btn btn-primary " style="font-size: 15px;" onclick="ProjectInfoDlg.addUploadTable('${apply.OPTYPENUM!}','${apply.RECYEAR!}','${apply.RECNUM!}');">+</button>
                                        <form action="#" method="post" class="form-horizontal" id="uploadTbodyForm">
                                        <table class="dataTable" data-mobile-responsive="true" data-click-to-select="true">
                                            <thead>
                                            <tr>
                                                <th><input type="checkbox"></th>
                                                <th>材料名称</th>
                                                <th>类别</th>
                                                <th>份数</th>
                                                <th>页数</th>
                                                <th>页码</th>
                                                <th>附件上传</th>
                                            </tr>
                                            </thead>
                                            <tbody id="uploadTbody">
                                            @for(arch in archList){
                                            <tr>
                                                <input type="hidden" name="optypenum[]" value="${apply.OPTYPENUM!}">
                                                <input type="hidden" name="recyear[]" value="${apply.RECYEAR!}">
                                                <input type="hidden" name="recnum[]" value="${apply.RECNUM!}">
                                                <input type="hidden" name="recmatnum[]" value="${arch.RECMATNUM!}">
                                                <td>
                                                    @if(arch.ISRECEIVE == null){
                                                    <input type="checkbox" value="${arch.RECMATNUM!}">
                                                    @}else if(arch.ISRECEIVE == 1){
                                                    <input type="checkbox" checked="checked" value="${arch.RECMATNUM!}">
                                                    @}
                                                </td>
                                                <td><input type="text"  name="matname[]" value="${arch.MATNAME!}"></td>
                                                <td>
                                                    <select name="mattypecode[]">
                                                        @for(node in materialList){
                                                            @if(arch.MATTYPECODE == node.code){
                                                                <option value="${node.code!}" selected>${node.value!}</option>
                                                            @}else{
                                                                <option value="${node.code!}">${node.value!}</option>
                                                            @}
                                                        @}
                                                    </select>
                                                </td>
                                                <td>
                                                    @if(arch.MATCOUNT == null){
                                                        <input type="text" value="1" name="matcount[]">
                                                    @}else {
                                                        <input type="text" value="${arch.MATCOUNT!}" name="matcount[]">
                                                    @}
                                                </td>
                                                <td>
                                                    @if(arch.MATPAGE == null){
                                                    <input type="text" value="1" name="matpage[]">
                                                    @}else {
                                                    <input type="text" value="${arch.MATPAGE!}" name="matpage[]">
                                                    @}
                                                </td>
                                                <td><input type="text" value="${arch.MATCERTNUM!}" name="matkindcode[]"></td>
                                                <td>
                                                    <button type="button" onclick="ProjectInfoDlg.openUploadPage('${apply.OPTYPENUM!}','${apply.RECYEAR!}','${apply.RECNUM!}','${arch.RECMATNUM!}')">上传</button>
                                                    <button type="button" onclick="ProjectInfoDlg.openImagePage('${apply.OPTYPENUM!}','${apply.RECYEAR!}','${apply.RECNUM!}','${arch.RECMATNUM!}')">查看</button>
                                                </td>
                                            </tr>
                                            @}
                                            </tbody>
                                        </table>
                                        </form>
                                    </div>
                                </div>
                                <div class="row btn-group-m-t">
                                    <div class="col-sm-10" style="text-align: center">
                                        <#button btnCss="info" name="保存" id="arch_save" icon="fa-check" clickFun="ProjectInfoDlg.saveRecOpinions()"/>
                                        <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProjectInfoDlg.close()"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="tab-3" class="tab-pane">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <div class="row row-lg">
                                    <div class="col-sm-12">
                                        <table class="dataTable" data-mobile-responsive="true" data-click-to-select="true">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>办理节点</th>
                                                <th>提交日期</th>
                                                <th>办理人</th>
                                                <th>办理日期</th>
                                                <th>意见</th>
                                                <th>退件原因</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            @for(node in nodeList){
                                            <tr>
                                                <td>${node.RECWORKPHASENUM!}</td>
                                                <td>${node.OPFLOWPHASENAME!}</td>
                                                <td>${node.PHASESTARTTIME!}</td>
                                                <td>${node.USERNAME!}</td>
                                                <td>${node.WORKTIME!}</td>
                                                <td>${node.WORKOPINION!}</td>
                                                <td>${node.RETURNREASON!}</td>
                                            </tr>
                                            @}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <form action="#" method="post" class="form-horizontal" id="handle_opinions">

                                    <div class="row m-t-30">
                                        <input type="hidden" name="optypenum" value="${apply.OPTYPENUM!}">
                                        <input type="hidden" name="recyear" value="${apply.RECYEAR!}">
                                        <input type="hidden" name="recnum" value="${apply.RECNUM!}">
                                        <div class="col-sm-12 form-group">
                                            <label class="col-sm-2 control-label">办理意见</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" name="workOpinion" type="text"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <label class="col-sm-2 control-label">退件类型</label>
                                            <div class="col-sm-9">
                                                <select class="form-control" name="returnType" type="text">
                                                    @for(node in refundList){
                                                    <option value="${node.code!}">${node.value!}</option>
                                                    @}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 form-group">
                                            <label class="col-sm-2 control-label">退件原因</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" name="returnReason" type="text"></textarea>
                                            </div>
                                        </div>
                                    </div>


                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <#button btnCss="info" name="至下阶段" id="to_next" icon="fa-check" clickFun="ProjectInfoDlg.toNext('/support/to_next')"/>
            <#button btnCss="info" name="至转交箱" id="to_next" icon="fa-check" clickFun="ProjectInfoDlg.toNext('/support/to_transfer_box')"/>
            <#button btnCss="danger" name="退回" id="to_up" icon="fa-reply" clickFun="ProjectInfoDlg.returnNode()"/>
            <div style="margin-top: 10px;">
                <#button btnCss="danger" name="关闭" id="cancel" icon="fa-eraser" clickFun="ProjectInfoDlg.close()"/>
            </div>
        </div>
    </div>
</div>

<script>
    var readonly = Feng.getQueryString("readonly");
    var materialListJson = '${materialListJson}';
    materialListJson = JSON.parse(materialListJson);
    if(readonly == 'true'){
        $("#projectInfoForm input").attr("readonly","readonly");
        $("#ensure").attr("disabled","disabled");
        $("#tab-2").find("input").attr("readonly","readonly");
        $("#tab-2").find("button").attr("disabled","disabled");
    }
</script>
<script src="${ctxPath}/static/modular/supporthouse/project_info.js"></script>
<script>
    ProjectInfoDlg.commonParam.iOptypenum = "${apply.OPTYPENUM!}";
    ProjectInfoDlg.commonParam.iRecyear = "${apply.RECYEAR!}";
    ProjectInfoDlg.commonParam.iRecnum = "${apply.RECNUM!}";
    ProjectInfoDlg.commonParam.iRecmatnum = "${RECMATNUM}";

</script>
@}