@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">

            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">

                        <#table id="HousingSubsidyLookTable"/>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    laydate.render({
        elem: '#startTime'
    });
    laydate.render({
        elem: '#endTime'
    });
    var subsidyOptypenum = '${optypenum!}';
    var subsidyRecyear = '${recyear!}';
    var subsidyRecnum = '${recnum!}';
</script>

<script src="${ctxPath}/static/modular/housingSubsidy/housingSubsidyLookPerson.js"></script>
@}
